## vim
# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vi

# jetbrains project files
.idea

# generated example services
_example/*
!_example/echo.proto

# Prevents accidentally including a problematic folder within the `vendor/`
# folder.
vendor/github.com/sirupsen/logrus/examples/
